#AddressInfo{
 
  button.btn-Back{
    width: 41px;
    height: 41px;
    color: #034a8e;
    position: absolute;
    top: 7%;
    left:5%;
    background: none;
    border: none;

}
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;
            color: #034a8e;
            max-width: 100%;
            font-size: 17px;
            font-weight: bold;
            font-family: $AvenirHeavy;
        }

    }

    .form{
        display: flex;
        flex-direction: column;
        .label-div{padding-top: 16px;

          position: relative;
          .label-tel{
            font-size: 15px;
            position: absolute;
            top: -3px;
            font-family: LibreFranklinRegular;
            color: #999;
            margi
            
          }}
        label{
          font-family: $Regular;
        }
        div.error {
          display: flex;
          justify-content: flex-start;
          width: 100%;
          margin-top: -10px;

        }

        .form-group {
            position: relative;
            width: 100%; // Ensure input fields take full width


            input {
                width: 100%;
                padding: 10px 10px; 
                font-size: 16px;
                border-radius: 4px; 
                font-family: $LibreFranklinRegular;
                &:focus {
                  outline: none;
                  border-color: #034a8e; 
                }
                &::placeholder {
                  color: transparent; 
                }
              }
        
              .floating-label {
                position: absolute;
                top: 35%; 
                left: 10px; 
                transform: translateY(-50%); 
                transition: all 0.3s ease;
                color: #999; 
                font-size: 14px; 
                pointer-events: none;
              }
        
              input:focus + .floating-label,
              input:not(:placeholder-shown) + .floating-label {
                top: 10px; 
                font-size: 11px; 
              }
            }

            .form-control{
                padding: 10px;
            }
        }
    
      .btn-proceed {
        width: 100%;
        background-color: #034a8e;
        padding: 8px;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 16px; 
        cursor: pointer; 
        transition: 0.3s; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
    .buttons {
      display: flex;
      gap: 20px;

      button {
          padding: 10px 66px;
          font-size: 16px;
          font-weight: bold;
          border: 1px solid #7588A034;
          color: #034A8E;
          margin-bottom: 15px;
          border-radius: 5px;
          cursor: pointer;
          background-color: #E5ECF3;
      }

      button.active {
          background-color: #034A8E; /* Darker blue for active state */
          color: white; /* White text when active */
      }
  }

}

@media (min-width: 395px){
    #AddressInfo{
        max-width: 100%; 

        .form{
            width: 100%;
        }
}
}

@media (min-width: 345px){
    #AddressInfo{
        width: 100%;

        .form{
            width: 100%;
        }
}
}
@media (max-width: 520px){
  #AddressInfo{
      .buttons {
          button {
              padding: 0 20%;
              font-size: 15px;
          }
      }
}
}
.form{
  .error {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 4px;
  }
}
.form-control {
  font-family: $LibreFranklinRegular;
}

button {
  font-family: $AvenirHeavy;
}